@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
:root{
	--blue:rgb(29, 126, 242);
	--base-fontsize: 1em;
	--small-font: 1em;
	--mid-font: calc(var(--small-font)*1.13);
	--lg-font: calc(var(--small-font)*1.2);
	--container-my: 4rem;
	/*--container-shadow: -0.4px 0.1px 10px rgba(11,2,17,0.4);*/
	--container-shadow: -0.1px 0.1px 6px rgba(11,2,17,0.2);
	--drop-container-shadow: -0.1px 0.1px 6px rgba(11,2,17,0.2);/*-0.2px 0.2px 8px rgba(11,2,17,0.6);*/
	--drop-container-radius: 0.6em;
	--hf-bgcolor:rgba(19,6,25,1);
	--container-bgcolor: rgba(19,6,25,0.05);
	--img-bgcolor: rgba(19,6,25,0.2);
	--light-container-bgcolor: rgba(0, 0, 0, 0.03);
	--card-width: 320px;
	--news-card: var(--card-width);
}
body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: var(--fontsize);
}
.body-home{
	background-color: var(--light-container-bgcolor);
}
html {
	scroll-behavior: smooth;
}
/*header*/
.top-bar {
	width: 100%;
	margin: 0;
	box-shadow: 0px 4px 1px 1.5px rgba(11,2,17,0.6);;
	position:sticky;
	top:0;
	z-index: 2;
}
.top-bar .top-nav {
	background-color: rgba(19,6,25,1);
	position:relative;
}
.top-bar-div{
	border-radius: 6px;
	background-color: rgba(19,6,25,0.9);
}
.top-bar .top-nav a {
	color: rgba(255,255,255,0.8);
	font-family: 'Nunito Sans', sans-serif;
	font-size: var(--small-font);
}
.top-bar .top-nav a:hover{
	border-radius: 6px;
	background-color: rgba(19,6,25,1);
}
.top-nav .nav-home-icon{
	margin-left: 0;
	font-size: 1.8rem;
	position:absolute;
	left:4%;
}

/* drop menus*/

/*main body*/
.scroll-container{
	border: none;
	margin: var(--container-margin);
	height: 50vh;
	width: var(--container-width);
	scroll-margin-top: 4rem;
	display: flex;
	flex-direction: column;
	overflow-y: auto;
}
.profile--label{
	color: rgba(255,255,255,0.8);
	background-color: rgba(19,6,25,0.9);
	font-size: var(--mid-font);
}
.profile img {
	display: block;
	border: 2px double #848484;
	border-radius: 50%;
}
.profile fig-caption h4{
	box-shadow: var(--container-shadow);
	color: rgba(0,0,0,0.8);
	font-size: var(--mid-font);
}
.section__div-ads{
	margin: 5rem auto;
	min-height: 12rem;
	border-radius: 6px;
}

.container-contacts{
	width: 100%;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-bottom: 0;
	box-shadow: none;
}
.contact-icons span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	margin: 0 1.2em;
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	background-color: rgba(19,6,25,0.3);
}
.section__div-contact ul {
	list-style-type: none;
	margin: 3rem 0;
	margin-right: 5rem;
	white-space: nowrap;
	line-height: 28px;
	display: flex;
	flex-direction: column;
}
.section__div-contact ul a {
	text-decoration: none;
	color: #202020;
}
.section__div-contact h4 {
	color: #606060;
	font-size: 20px;
	margin-bottom: 0rem;
	text-align: center;
}


/*-------------------Iframe & the pages-------------------------*/

.section__div-courses,.section__div-fees{
	background-color: var(--container-bgcolor);
}
.section-fees{
	margin-top: var(--container-margin);
	margin-bottom: var(--container-margin);
	background-color: var(--container-bgcolor);
}
/* .section-large-content{
	padding: 0.4rem 0;
} */
.span--absolute{
	position: absolute;
	right: 1rem;
	top: 2.4rem;
	z-index: 1;
	min-width: 6em;
	font-size: var(--fontsize);
	text-align: center;
	border-radius: 0.5em;
	color: rgba(255,255,255,1);
	background-color: rgba(19,6,25,0.9);
	transform: rotate(45deg);
	box-shadow: var(--container-shadow);
}
.span--absolute-short{
	width: 5em;
}
.article--update-live,.section--update-live{
	color: rgba(0,0,0,0.8);
	position: relative;
}
.article--update-live h3{
	font-size: var(--lg-font);
}
.article--update-live{
	margin-top: 4rem;
}
:is(.section--update-live,.section__div-drop-sem) li{
	list-style-type: lower-roman;
	display: block;
	list-style-position: inside;
	line-height: 1.6em;
}
:is(.section--update-live,.section__div-drop-sem) li p{
	display: inline-block;
}

.section--update-live hr{
	border: none;
	height: 0.5px;
	background-color: #848484;
	color: #848484;
}
.current-courses,.courses-reg{
	position:relative;
	background-color: var(--container-bgcolor);
}
.current-courses h3{
	font-size: var(--lg-font);
}
.current-courses li{
	font-size: var(--small-font);
}
.courses-reg label, .courses-reg p{
	font-size: var(--small-font);
}
		/*----------curriculum-----------*/
.full_curriculum{
	background-color: var(--container-bgcolor);
	display: flex;
	flex-direction: column;
	overflow: auto;
}
.section__div-year{
	min-height: 5rem;
	box-shadow: var(--drop-container-shadow);
	border-radius: var(--drop-container-radius);
	background-color: rgba(255,255,255,0.6);
	position: relative;
}
.section__div-year article,.section__div-drop article{
	color: rgba(0,0,0,0.8);
}
.section__div-year article a{
	position: relative;
	color: rgba(0,0,0,0.8);
}
.section__div-year a{
	text-decoration: none;
	color: #000;
	color: rgba(0,0,0,0.8);
}
.section__div-year__a{
	border-radius: 0.2em;
}
.section__div-year__a h5{
	font-size: var(--mid-font);
}
.section__div-drop h6{
	font-size: var(--small-font);
}
.section__div-year:focus-within .section__div-drop{
	display: block;
}
.section__div-drop,.section__div-drop-sem{
	min-height: 5rem;
}
.section__div-drop-sem{
	min-height: 3rem;
}
.section__div-dropper{
	position: absolute;
	left: 100%;
	top: -0.65em;
}
.section__div-dropper-sem{
	position: absolute;
	left: 100%;
	top: -0.65em;
}
.section__div-year:focus-within .section__div-dropper{
	transform: rotate(-180deg);
	top: -0.7em;
}
.section__div-dropper-sem,.section__div-drop article:focus-within .section__div-dropper-sem{
	transform: rotate(-180deg);
	top: -0.85em;
}
.section__div-drop-sem,.section__div-drop article:focus-within .section__div-drop-sem{
	display: flex;
	align-items: center;
	justify-content: center;
}
.section__div-year-con{
	margin: 0;
	margin-left: 26%;
	width: 20px;
	height: 36px;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
}
.section__div-year-con div:first-child,.section__div-year-con div:last-child{
	width: 20px;
	height: 6px;
	background-color: rgba(19,6,25,0.8);
	margin: 0 auto;
}
.section__div-year-con div:nth-child(2){
	width: 2px;
	height: 24px;
	background-color: rgba(19,6,25,0.8);
}
.section-schedule{
	height: 60vh;
	background-color: var(--container-bgcolor);
}
.books-shelve{
	overflow-x: scroll;
}
.books-shelve::-webkit-scrollbar{
	display: none;
}
.section-schedule-title{
	background-color: rgba(19,6,25,0.9);
	color: rgba(255,255,255,0.8);
	font-size: var(--mid-font);
}
/*--------------------fees---------------*/
.section-academic-news-title{
	background-color: rgba(19,6,25,0.9);
	color: rgba(255,255,255,0.8);
	font-size: var(--md-font);
}
.section-academic-news{
	font-size: var(--mid-font);
	background-color: var(--container-bgcolor);
}

.contacts-list li{
	font-size: var(--small-font);
}


		/*---------------------------------------------------------*/

/*------animations------*/
@keyframes advert{
	0%{
		transform: translate(1.2);
	}
	25%{
		transform: translate(-15%,15%) skew(5deg,5deg) scale(1.4,1.2);
	}
	50%{
		transform: translate(15%,15%) skew(-5deg,-5deg) scale(1.4,1.2);
	}
	75%{
		transform: translate(0) scale(1.4,1.2);
	}
	100%{
		transform: translate(1.2);
	}
}

/*footer*/
.rights {
	position: sticky;
	bottom: 0;
	background-image: linear-gradient(to bottom,rgba(19,6,25,0.9),rgba(19,6,25,1));
}
.rights p {
	white-space: nowrap;
	color: rgba(255,255,255,1);
}
/* Iframes */
.mini-menu ol {
	list-style-type: circle;
}
.mini-menu ol a {
	text-decoration: none;
	white-space: nowrap;
}
.contacts-label{
	font-size: var(--mid-font);
}


/*---------------NEWS PAGE---------------*/
.body-news{
	background-color: var(--light-container-bgcolor);
}
.body__section-head h4{
	font-size: var(--mid-font);
}
.body__section-intro{
	background-color: var(--light-container-bgcolor);
}
.body__section-newsVert{
	background-color: var(--light-container-bgcolor);
	overflow-x: scroll;
}
.body__section-newsVert::-webkit-scrollbar{
	display: none;
}
.body__section-newsVert__div{
	background-color: rgba(255,255,255,0.8)
}
.body__section-allNews{
	background-color: var(--light-container-bgcolor);
	height: fit-content;
	margin-bottom: var(--container-my);
}
.body__section-allNews article{
	position: relative;
	height: 85vh;
}
.allNews-highlight{
	overflow-x: scroll;
}
.allNews-highlight::-webkit-scrollbar{
	display: none;
}
.news-search-bar{
	position: sticky;
	top: 1.2rem;
	z-index: 1;
	margin-top: 1.5rem;
	margin-bottom: 1.5rem;
}
.news-search-bar input{
	height: 2.5rem;
	border-radius: 25px 0px 0px 25px;
	border: 1px solid var(--hf-bgcolor);
}
.news-search-bar button{
	height: 2.52rem;
	background-color: var(--hf-bgcolor);
	border-radius: 0px 25px 25px 0px;
	border: 1px solid var(--hf-bgcolor);
}
.material-symbols-outlined{
	color:rgba(255,255,255,1);
	font-size: var(--lg-font);
	font-weight: 600;
}
.body__section__div-category{
	height: 14rem;
	width: var(--news-card);
}
.body__section__div-category h5{
	font-size: var(--mid-font);
	margin: 0;
	color:rgba(0, 0, 0, 0.6);

}

.topic-img-holder{
	width: 140px;
	height: fit-content;
	border-right: 1px solid rgba(0, 0, 0, 0.3);
	border-left: 1px solid rgba(0, 0, 0, 0.3);
	padding-left: 5px;
	padding-top: 3px;
	margin-right: 0;
	background-color: var(--img-bgcolor);
	display: inline;
}
.topic-news{
	background-color: var(--container-bgcolor);
}
.body__section-adsVert{
	height:30%;
	margin:0;
	bottom: 0;
	padding: 0;
	overflow-x: scroll;
}
.body__section-adsVert::-webkit-scrollbar{
	display: none;
}
.body__section-adsVert-div{
	background-color: rgba(255,255,255,0.8);
	height: 100%;
	width: 14rem;
	margin: 0;
}
.our-info{
	height: 10rem;
	margin-top: var(--container-my);
	margin-bottom: 0;
	background-color: var(--light-container-bgcolor);
	padding-top: 2rem;
}
.our-info div{
	padding-left: 3rem;
	margin-left: 20%;
	color: rgba(0,0,0,0.6);
}
.our-info div a{
	color: rgba(0,0,0,0.6);
	font-size: var(--small-font);
}
.news-footer{
	background-color: var(--hf-bgcolor);
	color: rgba(255,255,255,1);
	position:sticky;
	bottom:0;
	margin-top: 0;
}


/*--------xsmall screen----------*/
@media screen and (max-width: 576px){
	.header__nav-index a{
		font-size: var(--small-font);
	}
	.body__section-intro div{
		height: 22vh;
	}
	.body__section-newsVert__div{
		width: 18rem;
		height:12rem;
	}
	.body__section__div-category{
		width: calc(var(--card-width)*0.85);
	}
	.body__section-allNews article{
		height: 65vh;
	}
	.body__section-allNews article:nth-child(2){
		height: 78vh;
	}
	.courses,.section-schedule{
		height: 50vh;
		margin-top: var(--container-my);
		margin-bottom: var(--container-my);
	}
	.courses{
		margin-top: 0;
	}
	.full_curriculum,.current-courses,.courses-reg{
		height: 50vh;
	}
	.section-fees,.section-academic-news{
		height: 50vh;
		margin-top: var(--container-my);
		margin-bottom: var(--container-my);
	}
	.section-academic-news{
		height: 70vh;
		scrollbar-width: none;
	}
}
/*---------small screen-----------*/
@media screen and (min-width: 576px){
	.body__section-intro div{
		height: 22vh;
	}
	.body__section-newsVert__div{
		width: 18rem;
		height:12rem;
	}
}
/*--------medium screen--------*/
@media screen and (min-width: 768px){
	:root{
		--small-font: calc(var(--base-fontsize)*1.15);
	}
	.body__section-intro div{
		height: 18vh;
	}
	.body__section-newsVert__div{
		width: 18rem;
		height:12rem;
	}
	.body__section-allNews article{
		height: 48vh;
	}
	.courses,.section-schedule{
		height: 45vh;
		margin-top: var(--container-my);
		margin-bottom: var(--container-my);
	}
	.courses{
		margin-top: 0;
	}
	.full_curriculum,.current-courses,.courses-reg{
		height: 45vh;
		scrollbar-width: none;
	}
	.section-fees,.section-academic-news{
		height: 45vh;
		margin-top: var(--container-my);
		margin-bottom: var(--container-my);
	}
	
}
/*--------large screen---------*/
@media screen and (min-width: 992px){
	.body__section-newsVert__div{
		width: 20rem;
		height:13rem;
	}
	.body__section-intro div{
		height: 13rem;
	}
	.body__section-allNews article{
		height: 38vh;
		scrollbar-width: none;
	}
	.courses,.section-schedule{
		height: 38vh;
	}
	.section-fees,.section-academic-news{
		height: 38vh;
	}
	.full_curriculum,.current-courses,.courses-reg{
		height: 38vh;
	}
}
/*--------extra large screen------*/
@media screen and (min-width: 1200px){
	.body__section-allNews article{
		height: 85vh;
	}
	.section-fees,.section-academic-news{
		height: 85vh;
	}
	.courses,.section-schedule{
		height: 65vh;
	}
	.full_curriculum,.current-courses,.courses-reg{
		height: 65vh;
	}
}

