@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200;300;600&display=swap');
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
/*---my variables---*/
:root {
	--container-width: 90%;
	--container-shadow: -0.1px 0.1px 6px rgba(11,2,17,0.2);
	--blue:rgb(29, 126, 242);
	--base-fontsize: 1em;
	--small-font: 1em;
	--mid-font: calc(var(--small-font)*1.13);
	--lg-font: calc(var(--small-font)*1.15);
	--container-my: 4rem;
	--contacts-height: 20rem;
	--light-container-bgcolor: rgba(0, 0, 0, 0.03);
}
body {
	font-family: 'Nunito Sans', sans-serif;
	box-sizing: border-box;
}
html {
	scroll-behavior: smooth;
}
/*header section*/
.header-home {
	position: sticky;
	top: 0;
	z-index: 1;
	margin: 0;
	width: 100%;
}
.header__nav-index {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	padding-left: 15%;
	align-items: space-between;
	background-color: rgba(19,6,25,0.95);
}
.header__nav-index a {
	font-size: var(--mid-font);
	margin: 1.3rem auto;
	text-decoration: none;
	color: rgba(255,255,255,1);
}
.header__nav-index a:hover,.header__nav-index a:focus-within,.header__nav-index a:active{
	color:  var(--blue);
	text-decoration: none;
}

/*--------------main area----------------*/

			/*-------name-------*/
.main__section-name {
	padding-top: 8%;
	padding-bottom: 2rem;
	position: relative;
	background-image: url('../images/laptops-at-workstations.jpg');
	background-size: cover;
}
.main__section-name-content{
	margin: var(--container-my) auto;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0.4em;
	text-shadow: 0.6px 0.4px 1.4px;
	
}

.main__section-name-content p{
	position: relative;
	margin: 1.2em auto;
	font-weight: 300;
	white-space: nowrap;
	font-size: var(--small-font);
}
.main__section-name-content h2 {
	font-size: var(--mid-font);
	margin-bottom: 0rem;
}
.main__section-name-content h2,.main__section-name-content p{
	color: rgba(255,255,255,1);
	white-space: wrap;
	text-align: center;
}

			/*-------Login-------*/
.main__section-login {
	scroll-margin-top: 4rem;
	background-color: rgba(0,0,0,0.4);
	border-radius: 0.4em;
	padding:  1em;
	position: relative;
	box-shadow: -0.4px 0.4px 10px rgba(11,2,17,0.4);
}
.main__section-login h3{
	color: rgba(255,255,255,1);
}
.main__section-login p{
	white-space: wrap;
	text-align: center;
	color: rgba(255,255,255,0.8);
	font-weight: 600;
	text-shadow: 0.2px 0.2px 0.4px;
	font-size: var(--small-font);
}
.login-form label{
	color: rgba(255,255,255,1);
	font-weight: 300;
	font-size: var(--mid-font);
}

.main__section-login .to-home {
	border: 1.2px solid #646464;
	border-radius: 5px;
	padding: 1.9px;
	margin-top: 1.2rem;
	background-color: rgba(19,6,25,0.95);
}

.main__section-login .to-home a {
	text-decoration: none;
	color: #22b8df;
}
.login-account a{
	text-decoration: none;
	color: rgba(255,255,255,1);
}
.main__section-name, .main__section-login, .partners, .our-contacts{
	box-shadow: 2.5px, 2.5px 5px #0b0211;
} 

				/*----------login animation----------*/
/* @keyframes welcome{
	0%{
		top: -1px
		transform: scale(0) skew(0deg,-10deg);
	}
	25%{
		top: 2px;
		transform: scale(1.1) skew(5deg,-5deg);
	}
	50%{
		top: 3px;
		transform: scale(1.2) skew(10deg,-10deg);
	}
	75%{
		top: 2px;
		transform: scale(1.1) skew(5deg,-5deg);
	}
	100%{
		top: 0.4em;
		transform: scale(1) skew(-5deg,-5deg);
	}
} */

				/*----------partners section----------*/


				/*----------contacts section----------*/
.our-contacts {
	border-radius: 8px;
	height: fit-content;
	background-color: rgba(19,6,25,0.05);
	overflow-x: scroll;
}
.our-contacts::-webkit-scrollbar{
	display: none;
}
.our-contacts-div-info{
	height: var(--contacts-height);
	background-color: rgba(255,255,255,1);	
	border-radius: 8px;
	box-shadow: var(--container-shadow);
	font-family: 'Nunito Sans', sans-serif;
	font-weight: 600;
	color: rgba(0,0,0,0.65);
	padding-top: 2.5rem;
}
.our-contacts-div-info p{
	font-size: var(--lg-font);
}
.our-contacts-div-info span{
	color: var(--blue);
}
.our-contacts-div-absolute{
	border-radius: 8px;
	font-size: var(--lg-font);
	height: var(--contacts-height);
	background-color: rgba(255,255,255,1);
	color: rgba(0,0,0,0.8);
	box-shadow: var(--container-shadow);
}
.our-contacts ul li{
	float: left;
	
}

.our-contacts ul a {
	text-decoration: none;
	color: #202020;
}
.our-contacts ul a:hover, a:focus {
	text-decoration: underline;
	opacity: 50;
}
.contact-icons span, .contact-support-icons span{
	width: 40px;
	height: 40px;
	border-radius: 50%;
	background-color: rgba(19,6,25,0.3);
}
.contact-icons img,.contact-support-icons img{
	display: inline-block;
}
.our-info{
	min-height: 10rem;
	margin-top: var(--container-my);
	margin-bottom: 0;
	background-color: var(--light-container-bgcolor);
	padding-top: 2rem;/*d-flex flex-column flex-md-row justify-content-center align-items-center*/
	display:flex;
	align-items: center;
	justify-content: center;
}
.our-info div:first-child{
	padding-left: 2rem;
	color: rgba(0,0,0,0.6);
}
.our-info div a{
	color: rgba(0,0,0,0.6);
	font-size: var(--small-font);
}
.message-container{
	max-height: fit-content;
	display: block;
}
.email-bubble{
	border-radius: 5px;
}
.message-bubble{
	resize: none;
	height: 4rem;
	margin: 1.2rem auto;
	border-radius: 15px 8px;
}
.message-send{
	position:absolute;
	bottom: 1.6rem;
	right: 1.2rem;
	transform: rotate(-25deg);	
}

		/*----------footer----------*/ 
.rights {
	position: sticky;
	bottom: 0;
	background-color: rgba(19,6,25,0.95);
	width: 100%;
}
.rights p {
	white-space: nowrap;
	color: #f1fafd;
}


/*--------X small screens--------*/
@media screen and (max-width: 576px){
	.header__nav-index a{
		font-size: var(--small-font);
	}
	.login-account a{
		margin: 0 1.3rem;
	}
	.email-bubble{
		width: 10rem;
	}
	.message-bubble{
		width: 11rem;
	}
	.our-info{
		flex-direction: column-reverse;
	}
	.our-info div:first-child{
		margin-left: 0;
	}
}
/*--------small screen----------*/
@media screen and (min-width: 576px){
	.email-bubble{
		width: 10rem;
	}
	.message-bubble{
		width: 11rem;
	}
	.our-info{
		flex-direction: column-reverse;
	}
	.our-info div:first-child{
		margin-left: 5%;
	}
}
/*--------medium screen--------*/
@media screen and (min-width: 768px){
	:root{
		--small-font: calc(var(--base-fontsize)*1.15);
	}
	.our-info{
		flex-direction: row;
	}
	.our-info div:first-child{
		margin-left: 20%;
	}
}
/*--------large screen---------*/
@media screen and (min-width: 992px){
	
}

