@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@200&display=swap');

body {
	font-family: 'Nunito Sans', sans-serif;
	font-size: 20px;
}
.mini-menu ol {
	list-style-type: circle;
}
.mini-menu ol a {
	text-decoration: none;
	white-space: nowrap;
}
